/*
 * site styles
 */

 body{
 	background-color: #74A94E;
 	font-family: 'asapregular',helvetica,verdana;
 	min-width: 250px;
 }

 a, a:active, a:visited { color: #74AB50; text-decoration: none;}
 a:hover { color: #A8794F;; text-decoration: underline;}

 section{
 	background-color: #E4F0DC;
 	overflow: hidden;
 }

 strong, b{
 	letter-spacing: -0.5px;

 }

 p{
 	margin-top: 0;
 }

 h3{
 	clear: both;
 }

 .no-pad{
 	padding: 0!important;
 }

 #section-content{
 	padding: 30px 0
 }

 .full-width{
 	margin: 0 -35px;
 }

 .full-width h1{
 	padding: 0 35px;
 }

 h1.title{
 	color: #fff;
 	background-image: url('../img/stalk.png');
 	background-repeat: no-repeat;
 	margin-top: -51px;
 	position: absolute;
 	width: 900px;
 	height: 75px;
 	background-position-y: 20px;
 	font-weight: normal;

 }

 h2{
 	font-size: 24px;
 	border-bottom: 3px solid #74A94E;
 	text-transform: capitalize;
 	clear: both;
 	margin-top: 0;
 }


 header #logo img{
 	max-width: 300px;
 	width: 100%;
 }

 header{
 	color: #fff;
 }


 header #tier-first{
 	padding: 15px;
 }

 .contact-info span{
 	display: block;
 	text-align: right;
 }

 .contact-info .icon{
 	padding: 0 5px;
 }

 header .soil-strip{
 	height: 10px;
 	background-image:  url(../img/soil-top.png);
 	background-repeat:repeat-x;
 }

 header nav{
 	padding: 5px 0 10px 0;
 	text-align: center;
 	border-bottom: 5px solid #A8794F;
 }

 #menu-button{
 	border-radius: 10px;
 	margin: 0;
 }

 #side-menu{
 	margin-bottom: 25px;
 }
 header nav ul li a,
 #side-menu ul li a{
 	font-size: 17px;
 	color: #fff!important;
 	height: 100%;
 	display: block;
 	padding: 10px;
 }


 body.services #side-menu ul li a{
 	font-size: 15px!important; 
 }

 body.services #side-menu ul li{ 
 	margin-bottom: 10px!important;
 	display: block!important;
 	text-align: center;

 }

 #side-menu ul{ 
 	margin: 0;
 }

 header nav ul li a:hover,
 #side-menu ul li a{
 	text-decoration: none;
 	color: #fff;
 }

 #side-menu ul li{
 	background-color: #5B4F41;
 }


 #side-menu ul li.current,
 header nav ul li.current{
 	background-color: #74AB50;
 }

 header nav ul li:hover,
 #side-menu ul li:hover{
 	background-color: #302C23;
 }
 header nav ul li,
 #side-menu ul li{
 	display: inline-block;
 	margin:0 12px;
 	line-height: 10px;
 	border-radius: 10px;

 }

 header li.submenu ul{
 	display: none;
 }

 #section-content img,
 #section-content iframe
 {
 	max-width: 100%;
 	border: 5px solid #74A94E;
 }

 #section-header img{
 	width: 100%;
 	min-width: 650px;
 }

 .dark-soil{
 	background-color: #302C23;
 }

 .light-soil{
 	background-color: #5B4F41;
 }

 .container {
 	max-width: 970px;
 }


 div.services{
 	margin-top: 15px;
 }

 div.services img {
 	max-width: 100%;
 	border: 5px solid #A8794F!important;
 	border-radius: 5px;
 	height: 150px;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 10px;
 	max-height: 150px;
 }

 div.services > div img:hover{
 	opacity: 0.75;
 }

 div.services > div{
 	text-align: center;
 	margin-bottom: 15px;
 }

 div.services a {
 	color: #444;
 	font-weight: bold;
 	letter-spacing: -1px;
 }

 div.services span::after {
 	content: " \00bb";
 }

 body.services #section-content img{
 	margin-bottom: 15px;
 }

 body.services #side-menu li#parent{
 	display: none!important;
 }

 .plant-hire img{
 	float: left;
 	margin-right: 10px;
 }

 #plant-hire h2{
 	font-size: 20px;
 }

 #plant-hire .plant-hire >div p{
 	margin-left: 200px;
 }
 #plant-hire .plant-hire >div{
 	margin-bottom: 25px;
 	min-height: 185px;
 }

 #plant-hire .plant-hire >div::after{
 	content: "";
 	display: block;
 	clear: both;
 }

 input#submit-button {
 	background-color: #74A94E;
 	color: #FFF;
 	font-weight: bold;
 }

 #contact #section-content > div{
 	padding-bottom: 15px;
 }

 body.case-studies #section-content div img{
 	width: 100%;
 	margin: 15px 0;
 	max-width: 100%;
 }

 body#case-studies #side-menu ul li#parent,
 body.case-studies #side-menu ul li#parent{
 	display: none!important;
 }


 footer{
 	background-color: #365222;
 	border-top: 10px solid #598226;
 	padding: 15px 0;
 	color: #fff;
 	min-height: 150px;
 }


 footer .contact-info{

 	margin-bottom: 25px!important;


 }
 footer .contact-info .icon{
 	color: #000;
 	font-size: 17px;
 }
 footer .contact-info span{
 	text-align: left;
 	font-size: 15px;
 }

 @media (max-width: 768px) { 
 	#tier-first .contact-info{
 		width: 100%;
 		display: block;
 		margin: 5px 0;
 		display: none;
 	}

 	header #tier-first .contact-info span{
 		display: inline-block;
 		padding-right: 15px
 	}

 	h1.title{ 
 		width: 100%;

 	}

 	.full-width h1 {
 		padding: 0 15px;
 	}

 	.full-width {
 		margin: 0 -15px;
 	}

 	footer{
 		text-align: left!important;
 		height: auto!important;
 	}

 	footer .pull-left, footer .pull-right{
 		float: none!important;
 	}
 	div.services img {
 		height: auto!important;
 	}

 	body.services #side-menu{
 		display: none;
 	}




 }

 @media (max-width:430px) { 
 	
 	#plant-hire .plant-hire img{
 		float: none;
 		clear: both;
 	}

 	#plant-hire .plant-hire >div p{
 		margin-left: 0px;
 	}

 	header #tier-first {
 		padding: 15px 0;
 	}

 	h1.title{
 		font-size: 25px;

 	}

 	.container{

 	}


 }


 @media (min-width: 768px) { 
 	.container{
 		padding: 0 35px!important; 
 	}


 }



 html, body {
 	height: 100%;
 }

 .wrapper, section, article{
 	min-height: 100%;
 	height: auto !important;
 	height: 100%;
 	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
 }


 section::after {
 	height: 155px;
 	display: block;

 }

 footer{
 	height: 155px; /* .push must be the same height as .footer */
 }



