/*
 * site styles
 */

 body{
 	background-color: #74A94E;
 	font-family: 'asapregular';
 }

 a, a:active, a:visited { color: #74AB50; text-decoration: none;}
 a:hover { color: #A8794F;; text-decoration: underline;}

 section{
 	background-color: #E4F0DC;
 	overflow: hidden;
 }

 strong, b{
 	letter-spacing: -0.5px;

 }

 #section-content{
 	padding: 15px 0
 }

 .full-width{
 	margin: 0 -35px;
 }

 .full-width h1{
 	padding: 0 35px;
 }

 h1.title{
 	color: #fff;
 	background-image: url('../img/stalk.png');
 	background-repeat: no-repeat;
 	margin-top: -51px;
 	position: absolute;
 	width: 900px;
 	height: 75px;
 	background-position-y: 20px;
 	font-weight: normal;

 }

 h2{
 	font-size: 24px;
 	border-bottom: 3px solid #74A94E;
 }


 header #logo img{
 	max-width: 300px;
 	width: 100%;
 }

 header{
 	color: #fff;
 }


 header #tier-first{
 	padding: 15px;
 }

 .contact-info span{
 	display: block;
 	text-align: right;
 }

 .contact-info .icon{
 	padding: 0 5px;
 }

 header .soil-strip{
 	height: 10px;
 	background-image:  url(../img/soil-top.png);
 	background-repeat:repeat-x;
 }

 header nav{
 	padding: 5px 0 10px 0;
 	text-align: center;
 	border-bottom: 5px solid #A8794F;
 }

 header nav ul li a{
 	font-size: 17px;
 	color: #fff!important;
 	height: 100%;
 	display: block;
 	padding: 10px;
 }
 header nav ul li a:hover{
 	text-decoration: none;
 	color: #fff;
 }

 header nav ul li.current{
 	background-color: #74AB50;
 }

 header nav ul li:hover{
 	background-color: #302C23;
 }
 header nav ul li{
 	display: inline-block;
 	margin:0 15px 0 15px;
 	line-height: 10px;
 	border-radius: 10px;

 }

 #section-header img{
 	width: 100%;
 	min-width: 650px;
 }

 .dark-soil{
 	background-color: #302C23;
 }

 .light-soil{
 	background-color: #5B4F41;
 }

 .container {
 	max-width: 970px;
 }


 .services{
 	margin-top: 15px;
 }

 .services img {
 	max-width: 100%;
 	border: 3px solid #A8794F;
 	border-radius: 5px;
 	height: 150px;
 	display: block;
 	margin-left: auto;
 	margin-right: auto;
 	margin-bottom: 10px;
 	max-height: 150px;
 }

 .services > div{
 	text-align: center;
 	margin-bottom: 15px;
 }

 .services a {
 	color: #444;
 	font-weight: bold;
 	letter-spacing: -1px;
 }

 .services span::After {
 	content: "\00bb";
 }


 footer{
 	background-color: #365222;
 	border-top: 10px solid #598226;
 	padding: 15px 0;
 	color: #fff;
 	min-height: 150px;
 }


 footer .contact-info{

 	margin-bottom: 25px!important;


 }
 footer .contact-info .icon{
 	color: #000;
 	font-size: 17px;
 }
 footer .contact-info span{
 	text-align: left;
 	font-size: 15px;
 }

 @media (max-width: 768px) { 
 	#tier-first .contact-info{
 		width: 100%;
 		display: block;
 		margin: 5px 0;
 		display: none;
 	}

 	header #tier-first .contact-info span{
 		display: inline-block;
 		padding-right: 15px
 	}

 	h1.title{ 
 		width: 100%;

 	}

 	.full-width h1 {
 		padding: 0 15px;
 	}

 	.full-width {
 		margin: 0 -15px;
 	}

 	footer{
 		text-align: left!important;
 		height: auto!important;
 	}

 	footer .pull-left, footer .pull-right{
 		float: none!important;
 	}
 	.services img {
 		height: auto!important;
 	}


 }

 @media (min-width: 768px) { 
 	.container{
 		padding: 0 35px!important; 
 	}


 }



 html, body {
 	height: 100%;
 }

 .wrapper, section, article{
 	min-height: 100%;
 	height: auto !important;
 	height: 100%;
 	margin: 0 auto -155px; /* the bottom margin is the negative value of the footer's height */
 }


 section::after {
 	height: 155px;
 	display: block;

 }

 footer{
 	height: 155px; /* .push must be the same height as .footer */
 }

